@media (max-width: 900px) {


    header {
        height: auto;
    }

    .logo_nu_menu img {
        margin-left: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

    nav li {
        padding-bottom: 10px;
    }

    .menumobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .image_desc {
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .text_nubank p {
        font-size: 18px;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }

    .logos {
        margin-left: 12px;
    }

    .text_nubank h1 {
        margin-left: 10px;
    }

    .sobre_pix a {
        margin: 10px;
    }

    .cadastro_cartao {
        margin-left: 10px;
    }

    .desc_pix h1 {
        width: 100%;
    }

    .desc_pix p {
        font-size: 16px;
        width: 100%;
    }

    .video_nubank video {
        width: 100%;
    }

    .desc_vantagens {
        margin: 0;
        margin-top: 20px;
    }

    .desc_vantagens li {
        width: 100%;
    }

    .desc_vantagens h4 {
        font-size: 25px;
        line-height: 30px;
        margin: 0px;
        padding-bottom: 15px;
    }

    .desc_vantagens p {
        margin: 0;
        padding-bottom: 15px;
        line-height: 25px;
    }

    .desc_lista {
        line-height: 25px;
    }

    .vantagens_pix {
        width: 100%;
    }

    .vantagens_pix ul {
        width: 100%;
    }

    .image_homem img {
        width: 100%;
        height: auto;
    }

    .desc_chaves_pix {
        width: 100%;
    }

    .desc_chaves_pix h1 {
        padding-left: 10px;
    }

    .desc_chaves_pix p {
        margin-left: 10px;
        margin-right: 10px;
    }

    .sub_desc_chavepix h4 {
        margin-left: 10px;
    }

    .registro_chaves {
        flex-wrap: wrap;
    }

    .box_chaves1 {
        width: 100%;
    }

    .rodape {
        flex-wrap: wrap;
        height: auto;
    }
}