@media (max-width: 880px) {

    header {
        height: auto;
    }

   nav ul {
    display: none;
    flex-direction: column;
    position:absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
   }

   .menumobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }

    .menu li,
    a {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .image_desc {
        flex-wrap: wrap;
    }

    .text_pix,
    p {
        width: 290px;
    }

    .image_desc {
        margin-left: 37px;
    }

    .cadastro_cartao {
        width: 310px;
    }

    .container {
        margin-bottom: 40px;
    }

    .infor_pix {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .infor_pix h1 {
        margin-left: 20px;
    }

    .infor_pix p {
        margin-left: 20px;
        width: 340px;
    }

    .video_nubank video {
      width: 375px;
    }

    .vantagens_pix {
        flex-wrap: wrap;
    }

    .desc_vantagens {
        width: 350px;
    }

    .desc_vantagens h4 {
        font-size: 20px;
    }

    .desc_vantagens p {
        line-height: 20px;
    }

    .container_chaves_pix {
        flex-wrap: wrap;
        width: auto;
        margin-top: 40px;
    }

    .chaves_pix {
        flex-wrap: wrap;
        margin: 10px;
    }

    .desc_chaves_pix {
        width: 440px;
    }

    .desc_chaves_pix h1 {
        font-size: 30px;
        margin-top: 50px;
    }

    .desc_chaves_pix p {
        font-size: 20px;
        margin-bottom: 60px;
    }

    .sub_desc_chavepix h4 {
        font-size: 16px;
        width: 460px;
    }

    .box_chaves1 {
        width: 180px;
    }

    .image_homem img {
        width: 370px;
        width: auto;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
    }

    .rodape p {
        border-bottom: 1px solid #555;
        padding-bottom: 10px;
    }

    .rede_social img {
        width: auto;
        height: 30px;
    }

}