* {
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: #fff;
}

.logo_nu_menu img {
    margin-left: 44px;
    width: 45px;
}

.menumobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.menu_linha {
    height: 2px;
    background-color: #9c4bb4;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

nav li
a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding-bottom: 10px;
    margin-right: 46px;
}


section .container {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 870px;
}

.image_desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 57px;
}


.text_nubank {
    color: #fff;
}

.logos {
    display: flex;
    align-items: center;
}

.logo_nu_branca img {
    width: 50px;
    height: 30px;
    margin-right: 15px;
}

.logo_pix img {
    width: auto;
    height: 30px;
}

.text_nubank h1 {
    font-size: 41px;
    margin-bottom: 20px;
}

.text_nubank p {
    line-height: 30px;
    font-size: 23px;
    max-width: 560px;
}

.sobre_pix a {
    font-size: 18px;
    margin-top: 31px;
    color: #fff;
}

.cadastro_cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: #fff;
    width: 350px;
    height: 310px;
    margin-right: 57px;
}

.cadastro_cartao h1 {
    width: 280px;
    margin-bottom: 57px;
}

.text_cpf {
    position: relative;
}

.text_cpf,
.desc_cpf {
    font-size: 14px;
    font-weight: 500;
    height: 25px;
    width: 282px;
    border: none;
    outline: none;
    margin-top: 14px;
    border-bottom: 1px solid #999;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}



.text_cpf input:focus {
    border-bottom: 1px solid #999;
}

.text_cpf input::placeholder {
    color: transparent;
}

.text_cpf label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}

.text_cpf input:required:invalid+label {
    color: #555;
}

.text_cpf input:focus:required:invalid {
    border-bottom: 1px solid #000;
}

.text_cpf input:required:invalid+label:before {
    content: 'Digite seu CPF';
    font-size: 14px;
    font-weight: 500;
}

.text_cpf input:focus+label,
.text_cpf input:not(:placeholder-shown)+label {
    font-size: 14px;
    margin-top: 0;
}

.cpf_botao {
    display: flex;
    width: 290px;
    height: 57px;
    margin-top: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 1px solid #9c4bb4;
    border-radius: 25px;
    color: #fff;
    background-color: #9c4bb4;
    font-size: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

}

.infor_pix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.desc_pix h1 {
    font-size: 30px;
    width: 380px;
}

.desc_pix p {
    font-size: 21px;
    text-align: justify;
    width: 380px;
    line-height: 30px;
    color: #000;
    margin-bottom: 60px;
}

.video_nubank video {
    width: 880px;
    margin-bottom: 20px;

}


.vantagens_pix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.vantagens_pix ul {
    list-style: none;
}

.desc_lista {
    line-height: 12px;
    padding-bottom: 10px;
}


.desc_vantagens li {
    width: 650px;
}

.desc_vantagens h4 {
    font-size: 30px;
}

.desc_vantagens p {
    font-size: 16px;
}

.container_chaves_pix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
}

.image_homem img {
    height: 720px;
}

.desc_chaves_pix {
    width: 660px;
}

.desc_chaves_pix h1 {
    font-size: 40px;
    padding-left: 24px;
}

.desc_chaves_pix p {
    font-size: 20px;
    text-align: justify;
    line-height: 32px;
    margin-left: 28px;
}

.sub_desc_chavepix h4 {
    font-size: 22px;
    margin-left: 28px;
    margin-bottom: 30px;
}

.registro_chaves {
    display: flex;
    list-style: none;
}

.box_chaves1 {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.box_chaves1 img {
    width: auto;
    height: 20px;
}

.box_chaves2 {
    display: flex;
    flex-direction: column;
}

.box_chaves2 img {
    height: 20px;
}

.lista_chaves {
    display: flex;
}

.lista_chaves li {
    padding-bottom: 30px;
    margin-left: 20px;
    color: #555;
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    width: 100%;
    height: auto;
    background-color:  #222;
    margin-top: 50px;
}

.copy {
    font-size: 12px;
    color: #999;
    border-bottom: 1px solid #555;
}

.rede_social img {
    height: 35px;
    padding-bottom: 5px;
    margin: 10px;
}